pipeline/pipeline9 blob logs sp.json
{
	"name": "pipeline9 blob logs sp",
	"properties": {
		"activities": [
			{
				"name": "plsql to blob",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Sqlspbloblog",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "intoblob1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "sp2blob",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "plsql to blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[audit].[loadstatus]",
					"storedProcedureParameters": {
						"dataread": {
							"value": {
								"value": "@activity('plsql to blob').output.dataread\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"errorid": {
							"value": {
								"value": "@activity('plsql to blob').output.errors.id\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"errormessage": {
							"value": {
								"value": "@activity('plsql to blob').output.errors.message\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"loadstatus": {
							"value": {
								"value": "@activity('plsql to blob').output.executionDetails[0].status\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"TableName": {
							"value": {
								"value": "@activity('plsql to blob').output",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-11-08T17:58:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}